# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/artifacts/
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources/
.idea/inspectionProfiles/
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__com_sun_mail_javax_mail_1_6_0.xml
.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_3_2.xml
.idea/libraries/Maven__commons_io_commons_io_2_5.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__javax_mail_javax_mail_api_1_4_7.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_6.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_8_10.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_5_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_4_3_10_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
.idea/libraries/Maven__org_jboss_jandex_1_1_0_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_3_GA.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_0_0_Final.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_9_RELEASE.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
src/main/webapp/WEB-INF/res/js/
src/test/resources/
target/
