<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>惠Go</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/js/iview/styles/iview.css">
    <style>

    </style>
</head>
<body>

<p th:text="${msg}" style="color: red"></p>
<a href="/user/login">返回登录</a>
</div>
<script type="text/javascript" src="/js/vue/vue.js"></script>
<script type="text/javascript" src="/js/iview/iview.js"></script>
<script type="text/javascript" src="/js/axios/axios.min.js"></script>
<script type="text/javascript" src="/js/project/webRouter.js"></script>
<script type="text/javascript" src="/js/project/footer.js"></script>
</body>
</html>