<!DOCTYPE html>
<html lang="en">
<head>
    <title>惠Go</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon"
          href="http://benefit-go.oss-cn-hangzhou.aliyuncs.com/webRes/img/favicon.ico"/>
    <link href="https://cdn.bootcss.com/iview/2.4.0/styles/iview.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style/common.css">
    <link rel="stylesheet" type="text/css" href="/css/style/index.css">
</head>
<body>
<div id="app" v-cloak>
    <my-header></my-header>

    <!--中间内容主体-->
    <row class="content">
        <row class="carouselRow">
            <i-col :lg="{span:4,offset:3}" :xs="{span:0}" style="margin-top: -20px;">
                <!--团购分类-->
                <i-menu class="saleTypeMenu" style="background-color:#CC0033" @on-select="saleTypeClick">
                    <menu-group title="全部团购分类">
                        <menu-item v-for="saleType in saleTypeList" :key="saleType.id" :name="saleType.id"
                                   class="TopMenuItem">
                            {{saleType.name}}
                        </menu-item>
                    </menu-group>
                </i-menu>
            </i-col>

            <i-col :lg="{span:12}" style="margin-top: -10px;margin-left: 30px">
                <h1 style="color: #c10031;">
                    <Icon type="fireball"></Icon>
                    热门团购活动
                    <p style="float: right;font-size: 14px">[系统公告]:{{Announce.content}}</p>
                </h1>
            </i-col>

            <i-col :lg="{span:14}">
                <!--图片轮播框-->
                <carousel :height="240" :autoplay-speed="3000" autoplay>
                    <carousel-item v-if="hotGroupList.length == 0">
                        <img :src="url.res.EmptyImg" style="width: 100%;height: 100%">
                    </carousel-item>
                    <carousel-item v-for="hotGroup in hotGroupList" :key="hotGroup.id">
                        <div class="demo-carousel"><a @click="routerToGroup(hotGroup.groupId)"><img
                                :src="hotGroup.groupImg"></a>
                        </div>
                    </carousel-item>
                </carousel>
            </i-col>
            <!--商家推荐表-->
            <i-col :lg="{span:8}">
                <div class="shopDiv" v-for="shop in shopList" :key="shop.id"><a @click="goToShopInfo(shop.id)">
                    <div class="shopName">{{shop.name}}</div>
                    <img :src="shop.logo"></a>
                </div>
            </i-col>
            <i-col :lg="{span:2}" v-if="visiable">
                <div class="becomeBusiness"><a :href="url.router.businessReg">
                    <img src="http://benefit-go.oss-cn-hangzhou.aliyuncs.com/webRes/img/becomBus.png">
                </a></div>
            </i-col>

            <!--简易用户信息卡片-->
            <i-col :lg="{span:4}" :xs="{span:0}" v-if="visiable">
                <card shadow>
                    <div v-if="isLogin" class="simpleUserDiv">
                        <a :href="url.router.userZone">
                            <avatar icon="person" size="large" :src="user.headportrait" class="userAvatar"></avatar>
                            <p style="color: #495060">{{user.nickName}}</p></a>
                        <a class="userTools" :href="url.router.personOrder">
                            <Icon type="ios-list"></Icon>&nbsp;&nbsp;我的订单</a>
                        <a class="userTools">
                            <Icon type="chatbox-working"></Icon>&nbsp;&nbsp;消息通知</a><br><br>
                        <a class="userTools">
                            <Icon type="chatbox-working"></Icon>&nbsp;&nbsp;我的收藏</a>
                        <a class="userTools" :href="url.router.userZone">
                            <Icon type="gear-b"></Icon>&nbsp;&nbsp;个人中心</a>
                    </div>
                    <!--未登录时显示-->
                    <div v-if="!isLogin" class="simpleUserDiv">
                        <Avatar icon="person" size="large" class="userAvatar"
                                src="http://benefit-go.oss-cn-hangzhou.aliyuncs.com/headPortrait/default/userDefault.png"></avatar>
                        <p>Hi,你好</p>
                        <i-button type="ghost" shape="circle" @click="gotoUrl(url.router.login)">登录</i-button>
                        <i-button type="ghost" shape="circle" @click="gotoUrl(url.router.vipReg)">注册</i-button>
                    </div>
                </card>
            </i-col>
        </row>
        <!--团购商品列表-->
        <row class="groupList">

            <i-col :lg="{span:18,offset:3}" :xs="{span:24}" style="background-color: white">
                <row :gutter="8">
                    <i-col :lg="{span:4,offset:0}" :xs="{span:12}" v-for="group in groupList"
                           :key="group.id">
                        <div @click="routerToGroup(group.groupId)" class="groupItemDiv">
                            <img :src="group.groupImg" style="height: 100%;width: 100%;"/>
                            <p class="groupName">{{group.goodsName}}</p>
                            <p><span class="price">¥&nbsp;{{group.groupPrice}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span style="color: grey;">原价:&nbsp;<s>{{group.originPrice}}</s></span></p>
                            <p class="groupTime">团购时间:{{group.startDate}}</p>
                        </div>
                    </i-col>
                </row>
                <row type="flex" justify="center" style="margin-top: 20px;padding-bottom:20px;background-color: white"
                     v-if="groupList.length>0">
                    <page :page-size="pageSize" :total="totalRecord" @on-change="pageChange"></page>
                </row>
            </i-col>
        </row>
    </row><!--contentRow-->
    <my-footer></my-footer>
    <back-top :right="10" :bottom="20"></back-top>
</div>
<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
<script src="https://cdn.bootcss.com/iview/2.4.0/iview.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
<script type="text/javascript" src="/js/project/webRouter.js"></script>
<script type="text/javascript" src="/js/project/fragment.js"></script>
<script type="text/javascript" src="/js/project/index.js"></script>
</body>
</html>