/*
首页样式
*/
* {
    margin: 0px auto;
    padding: 0px;
}

body {
    background-color: #f8f8f9;
}

.content {
    height: auto;
}

/*轮播样式*/
.carouselRow {
    margin-top: 25px;
}

.demo-carousel {
    height: inherit;
    width: inherit;
}

.demo-carousel img {
    width: 100%;
    height: 100%;
}

.TopMenuItem {
    color: white;
}

.ivu-menu-item-group-title {
    color: white;
}

/*iView菜单列表的点击样式*/
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
    color: white;
}

/* iView 菜单列表项的鼠标滑过样式*/
.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-vertical .ivu-menu-submenu-title:hover {
    background: #c10031;
}

/*单个团购活动列表项的样式*/
.groupItemDiv {
    /* width: 184px;*/
    height: auto;
    background-color: #f8f8f9;
    border: solid #dddee1 1px;
    margin-top: 10px;
    width: 100%;
}

.groupItemDiv:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px #c7c7c7;
}

.price {
    color: orangered;
    font-size: 20px;
    width: 90%;
    margin-left: 5%;
}

.groupTime {
    width: 90%;
    margin-left: 5%;
    color: #b56e00;
}

.groupName {
    color: #495060;
    display: block;
    width: 90%;
    margin-left: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.simpleUserDiv {
    min-height: 150px;
}

.simpleUserDiv p {
    text-align: center;
}

.simpleUserDiv .ivu-btn {
    width: 100px;
    height: 30px;
    margin-left: 30%;
    margin-top: 5px;
}

.userAvatar {
    margin-left: 40%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.userTools {
    margin-left: 10%;
    color: red;
}

.userTools:hover {
    color: #c10031;
}

/*店铺div*/
.shopDiv {
    background-color: white;
    width: 50%;
    height: 90px;
    float: left;
    border: solid 1px #dddee1;
}

.shopDiv img {
    width: 100%;
    height: 100%;
}

.shopName {
    position: absolute;
    background-color: gray;
    opacity: 0.8;
    height: 30px;
    z-index: 2;
    color: white;
    font-size: 20px;
    display: none;
}

.shopDiv:hover .shopName {
    display: block;
}

.becomeBusiness {
    background-color: white;
    width: 100%;
    height: 180px;
    float: left;
}

.becomeBusiness img {
    width: 100%;
    height: 100%;
}